body {
  padding-left: 12em;
  font-family: Georgia,;
  color: black;
  background-image: url('http://arc-anglerfish-arc2-prod-abccolor.s3.amazonaws.com/public/2TFW6LKDYVEIXKYIH4HQZWXQXQ.jpg');
  background-size: cover;
}